.container{
    display: grid;
    height: 100vh;
    width: 100%;
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1.5fr 1.5fr;
    grid-template-areas: 
        "nav nav nav"
        "sidebar main main"
        "sidebar content1 content2"
        "sidebar footer footer";    
}

nav{
    grid-area: nav;
    background-color: aqua;
}

main{
    grid-area: main;
    background-color: azure;
}

#sidebar{
    grid-area: sidebar;
    background-color: rgb(239, 179, 100);
}

#content1{
    grid-area: content1;
    background-color: bisque;
}

#content2{
    grid-area: content2;
    background-color: aquamarine;
}

footer{
    padding-top: 50px;
    grid-area: footer;
    background-color: blueviolet;
}